.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
wrangler.toml
**/coverage/**


# ignore all .vscode folders unless they're in the root directory
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
