compatibility_date = "2022-09-15"
main = "src/index.ts"
name = "cloudflare_example"

workers_dev = true

kv_namespaces = [
  {binding = "Profiles", id = "...", preview_id = "..."},
  {binding = "EdgeFunctions", id = "...", preview_id = "..."},
  {binding = "SourceFunctions", id = "...",  preview_id = "..."},
]

[[unsafe.bindings]]
name = "dispatcher"
namespace = "..."
type = "namespace"

[vars]
PERSONAS_SPACE_ID = "..."
PERSONAS_TOKEN = "..."
SEGMENT_WRITE_KEY = "..."

[env.staging]
name = "segment-test-worker-staging"
route = "test.com/*"
vars = {ENVIRONMENT = "staging"}

[env.production]
name = "segment-test-worker"
route = "test.com/*"
vars = {ENVIRONMENT = "production"}
